<% var id, picture, name, request, chatOpen, chatPartner, chatHistoryOpen; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>

<%- include("partials/header.ejs", {relativePath:"../../../", picture:picture, name:name}) %>

<section class="features color-section--grey-light u-vpadding">
    <div class="row row--respond">
        <a href="/u/dashboard"><img style="margin-bottom: 2rem" src="../../../img/icons8-back-26.png"></a>
        <div class="grid__4 request">
            <div class="request-item__text">
                <div class='u-flex request__item__text'>
                    <div class='u-flex-column'>
                        <h3 class="heading-tertiary heading-secondary--grey-dark"><%= request.description %></h3>
                        <span class="request__date"><%=
                            new Date(request.postedAt).toLocaleString(undefined, {
                                year: 'numeric',
                                month: 'long',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit'
                            }) %>
                        </span>
                        <div id="skillsList"></div>
                    </div>
                    <div class="u-flex">
                        <span style="margin-right: 2rem">Status:</span><span
                                style="margin-right: 2rem;font-weight: bolder"
                                class="heading-tertiary--grey-dark" id="requestStatusText"><%= request.status %></span>
                        <label class="switch">
                            <% if (request.status === "open"){ %>
                                <input id="requestStatus" type="checkbox" checked>
                            <% }else{ %>
                                <input id="requestStatus" type="checkbox">
                            <% } %>
                            <span class="slide round"> </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features color-section--grey-light u-vpadding-bottom">
    <div class="row row--respond">
        <div class="h3-margin">
            <h3 class="heading-tertiary heading-secondary--grey-dark h3-margin">Recommended mentors</h3>
            <p>These mentors are recommended by us based on your request. View their profile and chat with them to get
                started.</p>
        </div>
        <div id="mentorList"></div>
    </div>
</section>

<%- include("partials/footer.ejs", {relativePath:"../../../"}) %>

<p id="requestId" style="display:none"><%= request.id %></p>
<script src="../../../scripts/bundle.js"></script>
<script src="../../../scripts/requestDetails.js"></script>

<%- include("partials/chat.ejs", {relativePath:"../../../", chatOpen:chatOpen, chatPartner:chatPartner, chatHistoryOpen:chatHistoryOpen}) %>

</body>
</html>