<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<%- include("partials/header.ejs", {relativePath:""}) %>

<br/>
<br/>

<!--</li>-->
<section class="features color-section--grey-light u-vpadding">
    <div class="row row--respond">
        <h2 class="heading-secondary heading-secondary--grey-dark">Find a mentor</h2>

        <div class="grid">
            <% if(dataByName.length != 0){ %>
                <% var dataByName; %>
                <% for(var i = 0; i < dataByName.length;i++){ %>
                    <div class="grid__4 grid-item">
                        <div class="grid-item__circle grid-item__circle--1">
                            <svg class="grid-item__icon">
                                <use xlink:href="img/sprite.svg#icon-embed2"></use>
                            </svg>
                        </div>
                        <div class="grid-item__text">
                            <p class="paragraph">

                                Id: <%= dataByName[i].userId %><br/>
                                Name: <%= dataByName[i].userName %><br/>
                                Programming language: <%= dataByName[i].lfName %><br/>
                                Experience: <%= dataByName[i].yearsOfExperience %> years


                            </p>
                        </div>
                    </div><% } %>
            <% } %>

            <% if(dataByLf.length != 0){ %>
                <% for(var i = 0; i < dataByLf.length;i++){ %>
                    <div class="grid__4 grid-item">
                        <div class="grid-item__circle grid-item__circle--2">
                            <svg class="grid-item__icon">
                                <use xlink:href="img/sprite.svg#icon-embed2"></use>
                            </svg>
                        </div>
                        <div class="grid-item__text">
                            <p class="paragraph">
                                <% var dataByLf; %>
                                Id: <%= dataByLf[i].userId %><br/>
                                Name: <%= dataByLf[i].userName %><br/>
                                Programming language: <%= dataByLf[i].lfName %><br/>
                                Experience: <%= dataByLf[i].yearsOfExperience %> years

                            </p>
                        </div>
                    </div><% } %>
            <% } %>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs", {relativePath:"../"}) %>
<script src="../scripts/bundle.js"></script>
</body>

</html>