
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <nav class="nav">
        <!-- LOGO -->
        <a href="/" class="nav__logo">
            <img title="IT-Labs" src="img/logo.png" alt="IT-Labs Logo">
        </a>

        <form class="search" action="/search" method="post">
            <div class="search__before"><span>Search</span>{</div>
            <input class="search__input" placeholder="..." type="text"  name="q" id="" autocomplete="off">
            <div class="search__after">}</div>
            
        </form>
    
        <!-- MENU LINKS -->
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="#" class="nav__link">Sign up</a>
            </li>
    
            <li class="nav__item">
                <a href="#" class="nav__link">Become a mentor</a>
            </li>
    
            <!-- ACCOUNT PREFERENCES -->
            <div class="nav__account">
                <div class="languages">
                    <div class="languages__active">
                        <svg class="languages__chevron">
                            <use xlink:href="img/sprite.svg#icon-chevron-down"></use>
                        </svg>
                        <svg class="languages__icon">
                            <use xlink:href="img/sprite.svg#icon-ro"></use>
                        </svg>
                    </div>
    
                    <div class="languages__dropdown">
                        <a href="#" class="languages__link">
                            <svg class="languages__icon">
                                <use xlink:href="img/sprite.svg#icon-uk"></use>
                            </svg>
                        </a>
    
                        <a href="#" class="languages__link">
                            <svg class="languages__icon">
                                <use xlink:href="img/sprite.svg#icon-ger"></use>
                            </svg>
                        </a>
    
                        <a href="#" class="languages__link">
                            <svg class="languages__icon">
                                <use xlink:href="img/sprite.svg#icon-hu"></use>
                            </svg>
                        </a>
    
                        <a href="#" class="languages__link">
                            <svg class="languages__icon">
                                <use xlink:href="img/sprite.svg#icon-srb"></use>
                            </svg>
                        </a>
                    </div>
                </div>
    
                <div class="nav__log-in">
                    <a href="/login" class="nav__log-in-btn">Log in</a>
                </div>
            </div>
        </ul>
    
    </nav>
    <br/>
    <br/>

    <a href="#" class="nav__link">Find mentors</a>
</li>
<section class="features color-section--grey-light u-vpadding">
    <div class="row row--respond">
        <h2 class="heading-secondary heading-secondary--grey-dark">Find a mentor</h2>

        <div class="grid">
            <% if(dataByName.length!=0){ %>
               <div class="grid__4 grid-item">
                <div class="grid-item__circle grid-item__circle--1">
                    <svg class="grid-item__icon">
                        <use xlink:href="img/sprite.svg#icon-embed2"></use>
                    </svg>
                </div>
                <div class="grid-item__text">
                    <p class="paragraph"><% var dataByName; %>
                       
                        <% for(var i=0; i<dataByName.length;i++){ %>
                           
                           Id:   <%= dataByName[i].userId %><br/>  
                            Name:   <%= dataByName[i].userName %><br/>
                            Programming language:  <%= dataByName[i].lfName %><br/>
                              Experience: <%= dataByName[i].yearsOfExperience %> years
                               
                        <% } %>
                        </p>
                </div>
            </div><% } %>
        
            <% if(dataById.length!=0){ %>
            <div class="grid__4 grid-item">
                <div class="grid-item__circle grid-item__circle--2">
                    <svg class="grid-item__icon">
                        <use xlink:href="img/sprite.svg#icon-embed2"></use>
                    </svg>
                </div>
                <div class="grid-item__text">
                    <p class="paragraph"><% var dataById; %>
                        
                        <% for(var i=0; i<dataById.length;i++){ %>
                           
                           Id:   <%= dataById[i].userId %><br/>  
                            Name:   <%= dataById[i].userName %><br/>
                            Programming language:  <%= dataById[i].lfName %><br/>
                              Experience: <%= dataById[i].yearsOfExperience %> years
                               
                        <% } %></p>
                </div>
            </div><% } %>
        </div>
    </div>
    </section>
       



<br/><br/>
</body>
<footer class="footer">
    <div class="row">

        <div class="grid">
            <div class="grid__3">
                <img src="../img/logo_white.png" alt="IT-Labs white and black logo" class="footer__logo">
            </div>
            <div class="grid__9 footer__heading">
                IT LABS este o comunitate si un ansamblu de resurse pentru devenirea ta ca programator.
            </div>
        </div>
    </div>
</footer>