<% var id, chatOpen, chatPartner, chatHistoryOpen, relativePath, mentee; %>


<div class="chat-popup" id="chat">
    <form action="#" class="form-container u-flex-column">
        <button type="button" class="cancel__btn" onclick="closeChatWindow()"><img class="cancel"
                                                                                   src="<%= relativePath %>img/icons8-close-window-26.png"/>
        </button>
        <div class="chat_header color-section--primary"></div>
        <div id="chatProfile" class="u-flex">
            <div><span id="profile_picture"></span><span id="profileName"
                                                         class="profile_name"></span></div>
            <% if (mentee){ %>
                <button id="startSessionBtn" onclick="startSessionHandler()" type="button" class="call_button"><img
                            src="<%= relativePath %>img/icons8-video-message-24.png" class="start_session_image"/><span
                            class="start_session_text en">Start session</span><span
                    class="start_session_text ro">Incepe sesiune</span>
                </button>
            <% } %>
        </div>
        <p id="userChatId" style="display:none"></p>
        <p id="myId" style="display:none"><%= id %></p>
        <div id="messagesContainer" class="u-flex-column"></div>
        <div class="send_message_container">
            <textarea id="messageText" placeholder="Type message.." name="msg"></textarea>

            <button id="sendMessageBtn" class="btn"><span class="en">Send</span><span class="ro">Trimite</span></button>
        </div>
    </form>
</div>
<div class="chat-popup-history u-flex-column" id="chatHistory">
    <div id="chatHistoryVisible" class="color-section--primary">Chat</div>
    <div id="chatHistoryContainer" class="color-section--grey-light"></div>
</div>

<script src="<%= relativePath %>scripts/chatCommon.js"></script>
<script src="<%= relativePath %>scripts/chat.js"></script>

<% if (chatOpen) { %>
    <script>openChatWindow(<%= chatPartner %>);</script>
<% } %>
<% if (chatHistoryOpen) { %>
    <script>openChatHistory();</script>
<% } %>