<% var relativePath, picture, name, mentor, mentee; %>
<nav class="nav">
    <!-- LOGO -->
    <a href="/" class="nav__logo">
        <img title="IT-Labs" src="<%= relativePath %>img/logo.png" alt="IT-Labs Logo">
    </a>
    <form class="search" action="/search" method="post">
        <div class="search__before"><span class="ro">Cauta</span><span class="en">Search</span>{</div>
        <input class="search__input" placeholder="..." type="text" name="q" id="" autocomplete="off">
        <div class="search__after">}</div>

    </form>
    <!-- MENU LINKS -->
    <ul class="nav__menu">
        <!-- ACCOUNT PREFERENCES -->
        <li class="nav__item">
            <div class="nav__account">
                <div class="languages">
                    <div id="activeLanguage" class="languages__active">
                        <svg class="languages__chevron">
                            <use xlink:href="<%= relativePath %>img/sprite.svg#icon-chevron-down"></use>
                        </svg>
                        <svg id="ro" class="languages__icon">
                            <use xlink:href="<%= relativePath %>img/sprite.svg#icon-ro"></use>
                        </svg>
                    </div>

                    <div class="languages__dropdown">
                        <a id="otherLanguage" href="#" class="languages__link">
                            <svg id="en" class="languages__icon">
                                <use xlink:href="<%= relativePath %>img/sprite.svg#icon-uk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav__item">
            <% if (picture == null){ %>
                <div class="profile__icon grid-item__circle--1">
                    <svg>
                        <!--                        <use xlink:href="../img/sprite.svg#icon-embed2"></use>-->
                    </svg>
                </div>
            <% } else{ %>
                <img class="profile__icon" src="<%= picture %>"/>
            <% } %>
            <a href="#" id="my__profile__link" class="nav__link"><%= name %></a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link"><img src="<%= relativePath %>img/icons8-menu-24.png" alt="#"></a>
            <ul class="nav__sub-menu">
                <li class="nav__sub-item"><a href="/" class="nav__sub-link">Dashboard</a></li>
                <% if (mentor){ %>
                    <li class="nav__sub-item"><a href="/m/dashboard" class="nav__sub-link ro">Mod mentor</a><a
                                href="/m/dashboard" class="nav__sub-link en">Mentor mode</a></li>
                <% } %>
                <% if (mentee){ %>
                    <li class="nav__sub-item"><a href="/u/dashboard" class="nav__sub-link ro">Mod student</a><a
                                href="/u/dashboard" class="nav__sub-link en">Mentee mode</a></li>
                <% } %>
                <!--                <li class="nav__sub-item"><a href="#" class="nav__sub-link">Settings</a></li>-->
                <li class="nav__sub-item"><a href="/logout" class="nav__sub-link ro">Deconecteaza-te</a><a href="/logout"
                                                                                                  class="nav__sub-link en">Log
                        out</a></li>
            </ul>
        </li>
    </ul>
</nav>
